<%= form_for message, remote: true, authenticity_token: true, html: {autocomplete:"off"} do |f| %>
  <%= f.text_field :content, as: :text, label: :your_message, class: "form-control chat-form", data: {textarea: "message"}, id:'erase_form', placeholder: "Balance ton message ici" %>
  <%= f.hidden_field :chatroom_id, value: chatroom.id %>
  <%= f.submit class: "btn btn-primary", style: "display: none", data: {send: "message"}, id: "submit_button" %>
<% end %>
