<div class="message">
  <div class="message-user">
  <%= link_to  message.user.first_name, users_path(message.user.id) %>:
  </div>
  <div class="message-content">
    <%= sanitize markdown_to_html(message.content) %>
  </div>
</div>
