  <div class="form">
    <div class="container">
      <div class="form-header">
        <h2>Editer mon compte</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true}) do |f| %>
        <%= devise_error_messages! %>

        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar.url(:thumb) %>
          <%= f.label :remove_avatar do %>
            <%= f.check_box :remove_avatar %>
          <% end %>
        <% end %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <% if !current_user.uid %>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autocomplete: "first name", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "last name", class: 'form-control' %>
        </div>
        <% end %>

        <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city, autocomplete: "city", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :bio %><br />
          <%= f.text_area :bio, autocomplete: "bio", class: 'form-control' %>
        </div>
        <% if !current_user.uid %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(Laissez le champ vide si vous ne voulez pas changer votre mot de passe)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> caractères minimum</em>
            <% end %>
            </br>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="field">
            </br>
            </br>
            <%= f.label :current_password %> <i>Nous avons besoin de votre mot de passe pour valider les changements</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Editer", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <p> <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-primary btn-block' %></p>

      <%= link_to "Retour en arrière", :back %>

    </div>
  </div>
