
  <div class="form-small">
    <div class="container">
      <div class="form-header">
        <%= image_tag("brown-red-logo.png", height: '80px', width: '80px', class:'nav-logo') %>
        <h2>Inscription</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form_group'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autocomplete: "first name", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "last name", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "password", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "password", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "S'enregistrer", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
