
<div class="page-chatroom">
<div class="chatroom-channel">
  <div class="chatroom-topic-container fixed-top">
    <div class="chatroom-topic">
        <h1><%= @chatroom.topic %></h1>
    </div>
</div>
</div>

<div class="panel panel-default">
  <% if @chatroom.messages.any? %>
    <div class="messages-render" id="messages_<%= @chatroom.id %>">
      <%= render @chatroom.messages %>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages_<%= @chatroom.id %>">
    </div>
  <%end%>
</div>


<div class="form-message fixed-bottom">
  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>
</div>
</div>
