<%= render "shared/navbar2" %>
<div class="profile">
  <div class="profile-pic">

  </div>



  <div class="card hovercard">
    <div class="card-background">
      <% if current_user.avatar.nil? %>
      <%= image_tag("noprofilepic.jpg") %>
      <% else %>
      <%= image_tag current_user.avatar.url(:thumb) %>
      <% end %>      <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="useravatar">
      <% if current_user.avatar.nil? %>
      <%= image_tag("noprofilepic.jpg") %>
      <% else %>
      <%= image_tag current_user.avatar.url(:thumb) %>
      <% end %>
    </div>
    <!-- <div class="card-info"> <span class="card-title"><%= @user.first_name %></span>

    </div> -->
</div>
  <div class="tabs-profile">
    <script type="text/javascript">
    $(function() {
      var $tabButtonItem = $('#tab-button li'),
          $tabSelect = $('#tab-select'),
          $tabContents = $('.tab-contents'),
          activeClass = 'is-active';

      $tabButtonItem.first().addClass(activeClass);
      $tabContents.not(':first').hide();

      $tabButtonItem.find('a').on('click', function(e) {
        var target = $(this).attr('href');

        $tabButtonItem.removeClass(activeClass);
        $(this).parent().addClass(activeClass);
        $tabSelect.val(target);
        $tabContents.hide();
        $(target).show();
        e.preventDefault();
      });

      $tabSelect.on('change', function() {
        var target = $(this).val(),
            targetSelectNum = $(this).prop('selectedIndex');

        $tabButtonItem.removeClass(activeClass);
        $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
        $tabContents.hide();
        $(target).show();
      });
    });
    </script>

    <br/><br/>
    <div class="tabs">
      <div class="tab-button-outer btn-primary">
        <ul id="tab-button">
          <li><a href="#tab01">Infos</a></li>
          <li><a href="#tab02">Concerts</a></li>

        </ul>
      </div>
      <div class="tab-select-outer">
        <select id="tab-select">
          <option value="#tab01">Infos</option>
          <option value="#tab02">Concerts</option>

        </select>
      </div>

      <div id="tab01" class="tab-contents">
        <span class="userfullname"><h2><%= @user.first_name %> <%= @user.last_name %></h2></span>
        <p>Ville:</p>
        <span class="userinfo"><p><%= @user.city %></p><br/></span>
        <p>Bio:</p>
        <span class="userinfo"><p><%= @user.bio %></p></div></span>
      <div id="tab02" class="tab-contents">
        <span class="titrelisteconcert"><h2>Intéressé par les concerts: </h2></span>
          <% @user.concerts.each do |concert| %>
          <p><%= concert.title %></p>
          <% end %>    </div>

    </div>
</div>
<%= render "shared/footer" %>
