<div class="form">
  <div class="container">
    <div class="form-header">
      <h2>Mot de passe oublié ?</h2>
    </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Restaurer mon mot de passe", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
