<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4 columns-footer">
					<h5 class="footer-title ">Villes</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/concerts?q=Paris&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Paris</a></li>
						<li><a href="/concerts?q=Lyon&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Lyon</a></li>
						<li><a href="/concerts?q=Marseille&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Marseille</a></li>
						<li><a href="/concerts?q=Toulouse&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Toulouse</a></li>
						<li><a href="/concerts?q=Bordeaux&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Bordeaux</a></li>
						<li><a href="/concerts?q=Lille&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Lille</a></li>
						<li><a href="/concerts?q=Nice&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Nice</a></li>
						<li><a href="/concerts?q=Nantes&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Nantes</a></li>
						<li><a href="/concerts?q=Starsbourg&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Strasbourg</a></li>
						<li><a href="/concerts?q=Rennes&hPP=12&idx=ParisConcerts&p=0"><i class="fa fa-angle-double-right"></i>Rennes</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 colums-footer">
					<h5 class="footer-title">Live & Tribe</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>À propos</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Notre Histoire</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 img-fluid img-footer">
					<%= render 'shared/bysoundkick' %>
					<br>
					<%= render 'shared/search_by_algolia' %>
				</div>

			</div>
     </hr>
			<div class="row">
				<div class="social-logos col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">THP</a></p>
				</div>
			</div>
		</div>
	</section>
