<div class="concert-header jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Vos concerts préférés entre passionné(e)s</h1>
    <br>
    <p class="head-lead">Les concerts en solo ? Forcer vos proches à vous accompagner ? Plus maintenant !</p>
    <br><br>
    <%= link_to 'Accéder aux concerts', concerts_path, class:'header-btn btn btn-lg' %>
  </div>
</div>
