<nav class="navbar navbar-dark bg-secondary fixed-top navbar-inverse navbar-expand-lg">
      <%= link_to image_tag("brown-red-logo.png", height: '70px', width: '70px', class:'nav-logo'), root_path %>
      <%= link_to 'Live & Tribe', root_path, class:'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% if user_signed_in? %>
            <%= link_to "Profil", users_path(current_user.id), class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/concerts">Accéder aux concerts <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="sign-up-in">

          <% if user_signed_in? %>
            <%= link_to 'Modifier mon profil', edit_user_registration_path, class:'btn-signup' %>
            <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light' %>
          <% else %>
            <%= link_to "S'enregistrer", new_user_registration_path, class: 'btn-signup' %>
            <%= link_to "Se connecter", new_user_session_path, class:'btn btn-outline-light'%>
          <% end %>
        </div>
      </div>
    </nav>
