<section class="module divider-bottom">
  <div class="container-fluid homescroll">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h2 class="title-presentation tribu">Rejoins ta tribu</h2>
      </div>
    </div>
    <div class="row situations">
      <div class="col-lg-4 col-md-6">
        <div class="situation text-center">
          <div class="situation-content">
            <p>Aucun de tes proches ne partage tes goûts musicaux et t'accompagner à ton concert relève de la corvée</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="situation text-center">
          <div class="situation-content">
            <p>Tu as l'intime conviction que des gens aux goûts musicaux singuliers comme toi ne se cachent pas très loin</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="situation text-center">
          <div class="situation-content">
            <p>Tu veux rejoindre une communautés de fans, les retrouver pour des before, partager des souvenirs</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="moto">
        <div class="col-md-8 m-auto text-center catch-phrase">
          <p class="pres-lead">Ne dépendez plus de la motivation de vos proches pour aller voir votre artiste préféré. Plus besoin d'arguments farfelus pour appâter vos amis ! </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center ">
        <h2 class="title-presentation howorking">Comment ça marche ?</h2>
      </div>
    </div>

    <div class="row etapes">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="music-logo"><%= image_tag("musician (1).png", height: '80px', width: '80px', class:'music-logo') %></span></div>
          <div class="icon-box-title">
            <h6>TROUVEZ VOTRE CONCERT</h6>
          </div>
          <div class="icon-box-content">
            <p>Cliquez sur "accéder aux concerts" et effectuez votre recherche parmi les milliers de concerts proposés dans les 10 plus grandes villes de France. Cliquez sur l'évènement qui vous intéresse.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="ti-harddrives"></span><%= image_tag("conversation.png", height: '80px', width: '80px', class:'conversation-logo') %></div>
          <div class="icon-box-title">
            <h6>REJOIGNEZ LA DISCUSSION</h6>
          </div>
          <div class="icon-box-content">
            <p>4 chaînes de discussions à votre disposition: "Before", "Trajet", "Les vrais savent", "Debrief". Ne soyez pas timides.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box text-center">
          <div class="icon-box-icon"><span class="rencontres-logo"><%= image_tag("pet.png", height: '80px', width: '80px', class:'rencontres-logo') %></span></div>
          <div class="icon-box-title">
            <h6>ENJOY</h6>
          </div>
          <div class="icon-box-content">
            <p>On n'est pas Tinder, mais ça ne vous empêche pas de faire de belles rencontres autour de vos artistes préférés. ;)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
