
<div class="searchbar-container">
  <div class="searchbar-input">
    <input id="search-input" placeholder="Trouve ton concert" class="form-control">
  </div>
  <main>
    <div id="hits"></div>
    <div id="pagination"></div>
  </main>
  <!-- Include AlgoliaSearch JS Client and autocomplete.js library -->
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    //do work
  var search = instantsearch({
              appId: 'DA0L98N7JW',
              apiKey: '5c1dc777d34fdb7c5cf4bedfdb9ac2bf', // search only API key, no ADMIN key
              indexName: 'ParisConcerts',
              urlSync: true,
              searchParameters: {
                hitsPerPage: 12
              },
            });
            search.addWidget(
              instantsearch.widgets.searchBox({
                container: '#search-input',
                instantsearchPage: function () { return false; },

              })
            );
            search.addWidget(
              instantsearch.widgets.hits({
                container: '#hits',
                templates: {
                  item: document.getElementById('hit-template').innerHTML,
                  empty: "We didn't find any results for the search <em>\"{{query}}\"</em>"
                }
              })
            );
            search.addWidget(
              instantsearch.widgets.pagination({
                container: '#pagination'
              })
            );

            search.start();
  });
  </script>
  <!-- <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script> -->

  <script type="text/html" id="hit-template">
  <div class = "card-container">
    <div class="card hit">
      <div class="card-img-top" role="img" style="background-image: url(https://images.sk-static.com/images/media/profile_images/artists/{{performance.0.artist.id}}/huge_avatar);">
        <div class="card-artist"></div>
      </div>
      <div class="card-body">
        <h4 class="card-text">{{{_highlightResult.displayName.value}}}</h4><br/>
        <h5 class="card-title">{{location.city}}</h5>
        <a href="/concerts/{{id}}" class="card-btn btn btn-primary btn-lg">Voir l'évènement</a>
      </div>
    </div>
  </div>
  </script>
</div>
