<div class="show-header">
  <div class="container">
      <h2><%= @artist_name %> - <%= @venue_place %> </h2>
      <p id="date"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @venue_adress %> - <%= @venue_postal_code %> - <%= @venue_city %> </p>
      <p> <i class="fa fa-calendar-o" aria-hidden="true"></i> Le <%= @venue_date %> à <%= @venue_hour %> </p>
  </div>
</div>
