<%= render "shared/navbar" %>
<%= render "shared/show-header"%>
<div class="show-btn">
  <% if user_signed_in? && !@inscrit %>
  <%= form_tag concerts_path %>
  <%= hidden_field_tag "concert_title", @concert_name %>
  <%= hidden_field_tag "soundkick_id", @event_id %>
  <%= hidden_field_tag "date", @venue_date %>
  <%= hidden_field_tag "city", @venue_city_id %>
  <%= submit_tag "Ce concert m'intéresse", class: "btn btn-primary interested-btn" %>
  <% elsif user_signed_in? && @inscrit %>
  <%= button_to  "Se désinscrire du concert", concert_path, method: :post, class: "btn btn-primary interested-btn" %>
  <% else %>
  <%= button_to "Se connecter", new_user_session_path, class: "btn btn-primary interested-btn" %>
  <% end %>
</div>


<% if @concert_exist %>
<div class="interested-flip-card">
  <div class="interested-flip-card-inner">
    <div class="interested-flip-card-front">
      <% if @interested_number == 0 || @interested_number == 1 %>
      <p class="interested-people"><span><%= @interested_number %></span><br>Utilisateur intéressé</p>
      <% else %>
      <p class="interested-people"><span><%= @interested_number %></span><br>Utilisateurs intéressés</p>
      <%  end %>
    </div>
    <div class="interested-flip-card-back">
      <%@concert.users.each do |user| %>
      <div class="interested-name">
        <%= user.first_name + " " + user.last_name %>
      </div>
        <% end %>
      </div>
  </div>
</div>
</div>

<% end %>
<div class="chatrooms">
  <% if @inscrit %>
  <% @concert.chatrooms.each_with_index do |chatroom,i| %>
  <div class="card chat-card">
    <h3><%= link_to chatroom.topic, chatroom %></h3>
    <p> <%= @sentences[i] %> </p>
  </div>
  <% end %>
</div>
<div class="under-chatroom">
  <div class="lyrics">
    <div class="lyrics-title">
      <h3>Révise les paroles de tes chansons préférées</h3>
    </div>

    <p class="explication-show">
      <%= link_to "Sur la page genius de l'artiste", "https://genius.com/artists/#{@artist_name}"%>
    </p>
  </div>
  <div class="comment-bottom">
    <div class="comment-title">
      <h4>Aucune chaîne de disccussion ne correspond à ce que tu souhaites partager ? <br>Balance ton commentaire ici <span>(après t'être identifié)</span></h4>
    </div>

    <div id="disqus_thread"></div>
    <script>


    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://live-tribe.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
</div>

<% else %>

<div class = "show-disconnected-wrapper">
  <h2>
    Tu vas à ce concert ? Tu souhaites y aller ?
  </h2>
  <p class="explication-show">Connecte toi et clique sur "ce concert m'intéresse" pour accéder aux chaines de discussion</p>
  <h2>Discute en temps réel avec les autres utilisateurs intéressés </h2>
  <p class="explication-show">
    Organisez un before, planifiez votre trajet, échangez sur l'artiste et ses concerts
  </p>
  <h2>La page Songkick du concert </h2>
  <p class="explication-show">
    <%= link_to "#{@concert_name}", @concert_url %>
  </p>
</div>
<% end %>
</div>

<%= render 'shared/footer' %>
