@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700|Roboto:200,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");


// font-family and size
$body-font: "Open Sans";
$header-font: "Roboto";
$show-font: "Montserrat";
$h1-size: 3rem !default;

// Header
$header-color: #403c3c !default;
$header-size: 13.8rem !default;


// General Colors
$lightblack: #262126;
$blue: #4297b1;
$purple: #9142b1;
$green: #69d4b7;
$brown: #832b0a;
