<div class="form-small">
  <div class="container">
    <div class="form-header">
      <%= image_tag("brown-red-logo", height: '80px', width: '80px', class:'nav-logo') %>
      <h2>Connexion</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form_group'}) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control'%>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
