// Chat sur show

.chatrooms {
  margin-top: 100px;
  margin-bottom: 100px;
}

.chat-card {
  box-shadow:0 .1rem 1rem 0 rgba(16,11,46,.23);
}

.chat-card:hover {
  transform:translateY(-.5rem);
  transition: all 0.2s ease-out;
}

@media (min-width:1025px) {
  .chatrooms {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .chat-card {
    width: 400px;
    height: 200px;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center; 
  }
}

// Chat sur card

.message {
  display: flex;
  flex-direction: row;
}





@media (min-width:768px) {
  .form-message {
    width: 100%;
    padding: 40px 0;
    background-color: $lightblack;
  }
  .chatroom-channel {
    color: $lightblack;
  }
  .messages-render {
    margin: 100px;
  }
  .chat-form {
    width: 75%;
    height: 50px;
  margin: auto;
  }
  .chatroom-topic-container {
    background-color: $lightblack;
    height: 100px;
  }
  .chatroom-topic {
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
  }
  .panel.panel-default{
    margin: 150px 0 160px 110px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;

    p {
      color: $lightblack;
    }
    b {
      color: $brown;
    }
  }

  .message-user {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
    color: $brown;
  }

  .message-content {
    font-family: 'Roboto';
    font-size: 25px;
  }
}

@media (max-width:767px) {
  .form-message {
    width: 100%;
    background-color: white;
    padding: 5px;
  }
  .messages-render {
    margin: 25px;
  }

  .chatroom-topic {
    font-family: "Roboto";
    text-align: center;
    font-weight: 700;

    h1 {
    font-size: 40px;
    padding-top: 10px;
    }
  }
  .chatroom-topic-container {
    background-color: white;
    min-height: 100px;
}

.panel.panel-default{
  margin-bottom: 4rem;
  margin-top: 8rem;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 15px;

  p {
    color: $lightblack;
  }
  b {
    color: $brown;
  }
}
.message-user {
  font-family: 'Roboto';
  font-size: 15px;
  color: $brown;
}

.message-content {
  font-family: 'Roboto';
  font-size: 15px;
}

.panel-body {
margin-left: 20px;
}
}
