

section {
    padding-bottom: 10px;
    .section-title {
        text-align: center;
        color: $lightblack;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

#footer {
    background: $lightblack !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 2px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.img-footer{
  padding: 50px 0;
}

.soundkick-footer {
  padding-bottom: 40px;
}

.list-unstyled li a {
  font-size: 20px;
}

.footer-title {
  font-size: 25px;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.columns-footer {
    padding-top: 50px;
}
.ais-pagination {
  margin-bottom: 20px;
}
}

@media (min-width:768px){
  .social-logos {
      margin-top: -80px !important;
  }
}
