@media (min-width:900px){
	.form-small .container {
  width: 600px;
  height: 820px;
}
}

.form-header{
  text-align: center;
}

.form h2, .form-small h2 {
  margin-bottom: 30px;
  margin-top: 10px;
}

.form .actions, .form-small.actions {
  margin-top: 20px;
  .btn-primary {
  margin-bottom: 20px;
}
}

.form .container, .form-small .container {
  margin-top: 40px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: 0.7s;
	padding: 80px 30px;
	background-color: white;
}

.signin-btn {
  margin-top: 10px;
}
