.header-btn:hover {
  background-color: #611e0d;
}

.jumbotron {
  margin-bottom: 0 !important;
}
.concert-header {
  background-color: $header-color;
  overflow: hidden;
  position: relative;
}

.concert-header .container {
  position: relative;
  z-index: 2;
  text-align: center;

  h1 {
   color: white;
 }
   p {
   color: white;
   }

   a {
   color: white;
   font-size: 1.2rem;
 }
}

.concert-header:before{
  content: "";
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width:380px) {
  .concert-header .container h1 {
  font-size: 2rem;
}
}

@media (min-width:380px) {
  .concert-header .container h1 {
  font-size: 3.5rem;
}
}

@media (max-width:767px){
  .head-lead {
    display: none;
  }

  .sublead {
  font-size: 22px;
}
.header-btn {
  border-radius: 30px;
  height: 60px;
  width: 280px;
  background-color: $primary;
}

a.header-btn {
  padding: 15px;
}
}


@media (min-width:768px){
	.head-lead {
  font-size: 25px;
}

.header-btn {
  border-radius: 40px;
  height: 70px;
  width: 360px;
  background-color: $primary;
  padding-top: 20px;
}

.concert-header .container {
  margin-top: -180px;
}
a.header-btn {
  font-size: 30px;
}
}

@media only screen and (min-width: 414px) {
    .concert-header:before{
			background-image: url(/assets/element-5-carousel.jpg);
    }
}
@media (max-width: 414px) {
    .concert-header:before{
        background-image: url(/assets/element-5-carousel-phone.jpg);
    }
}
