.navbar {
  font-family: $header-font;
}


.sign-up-in {
  margin-right: 20px;
  .btn-signup {
  padding-right: 20px;
  color: white; 

}
}


.navbar > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 150px;
}

// Media queries

@media (min-width:991px) {
  .nav-logo {
    margin-left: 40px;
    margin-right: 15px;
    cursor: pointer;
  }


}

@media (max-width: 991px) {
    .navbar-nav > li > a {
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 10px;}

    .navbar {
       background-color: $lightblack;
    }
}
