
.icon-box-icon, .icon-box-title, .icon-box-content {
padding-bottom: 30px;
}
.icon-box-title {
  h6 {
  font-size: 22px;
}
}
.icon-box {
  padding-right: 15px;
}

.moto {
  background-color: $brown;
  min-height: 500px;

}
.pres-lead {
  color: white;
  line-height: 1.7em;
}

.etapes {
  line-height: 200%;
}


@media (min-width: 768px){
  .pres-lead{
    font-size: 38px;
    margin-top: 40px;
  }
  .situation-content p {
    font-size: 28px;
    line-height: 2 !important;
    color: #45413f;
  }
  .situations {
    padding: 35px 100px 150px 100px;
  }

  .icon-box-content p {
    font-size: 19px;
    color: #45413f;
    margin-bottom: 100px;
    line-height: 2 !important;
  }

  .text-center {
    padding-top: 80px;
  }
  .homescroll:before{
    background-image: url(/home2.jpg);
  }

  .title-presentation {
  font-size: 3.2rem !important;
}

.howorking {
  margin-bottom: 60px;
}
}

@media (max-width: 767px){
  .pres-lead{
    font-size: 30px;
    line-height: normal;
    padding-top: 80px !important;
  }
  .etapes, .situations {
    line-height: normal;
  }
  .situation-content p{
    font-size: 22px;
    padding-bottom: 30px;
  }
  .situations {
    padding: 20px;
  }
  .moto,{
    padding: 20px 20px;
    margin-bottom: 50px;
  }

.title-presentation  {
  font-size: 3rem !important;
}

.tribu {
  margin-top: 45px !important;
}
.howorking {
  margin-bottom: 50px;
}

.icon-box-content p {
  font-size: 18px;
  margin-bottom: 40px;
}
}

@media only screen and (min-width: 767px) {
  .homescroll:before{
			background-image: url(/assets/home2.jpg);
    }
}
@media (max-width: 768px) {
    .homescroll:before{
        background-image: url(/assets/home2-phone.jpg);
    }
}
