.searchbar-container {
  // margin:0 auto;
  margin: 100px auto 0px auto;
  padding:0 40px;
  min-height:100%;
  height: auto;
}
#search-input {
  margin-bottom: 50px;
  height : 50px;
}

.card-artist {
  width: 18rem
}
.card-img-top{
  height:18rem;
}
.card-container {
  margin:0 1rem 2rem;
  height: 100%;
  width:18rem;
}

.card-body{
  display:flex;
  flex-direction:column;
  -ms-flex-pack:justify;
  justify-content:space-between;
  height: 12rem;
  padding:1.5rem 0 0
}
.card-text {
  font-size: 20px;
}
.card-title {
  font-size: 20px;
  color: #4a4746;
  margin-top: -30px;
}
.card-btn{
  margin-top: -10px;
}
.card.hit:hover{
  box-shadow:0 .5rem 5rem 0 rgba(16,11,46,.23);
  transform:translateY(-.5rem);
  transition: all 0.2s ease-out;
}

@media (max-width:767px){
  #search-input{
    display: flex;
    justify-content: center;
    font-size: 20px;
    max-width: 300px;
  }

  .card-text, .card-title{
    font-size: 17px;
  }

  .card-title{
    margin-top: -30px;
  }

  .ais-search-box {
  margin: auto;
  max-width: 90% !important;
  width: 100% !important;
}
}

#sbx-icon-search-13 {
  display: none;
}


@media (min-width:768px){
  /* PAGINATION */
  #pagination {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  #pagination ul {
    font-size: 0;
    list-style-type: none;
    text-align: center;
  }
  #pagination li {
    font-size: 14px;
    display: inline;
  }

  #pagination a {
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    border: 1px solid #eee;
  }
  #pagination a:hover {
    background: #f5f5f5;
  }
  #pagination li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  #pagination li:last-child a {
    border-right: 1px solid #eee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  #pagination li.ais-pagination--item__active a {
    color: white;
    border-color: $brown;
    background: $brown;
  }
  #pagination li.ais-pagination--item__active a:hover {
    cursor: default;
  }
  #pagination li.ais-pagination--item__disabled a {
    cursor: not-allowed;
  }
  #pagination li.ais-pagination--item__disabled a:hover {
    background: none;
  }
}

.ais-pagination {
margin: auto;
}

.ais-hits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

button.ais-search-box--reset {
  padding-top: 15px;
  padding-right: 15px;
}

@media (min-width:768px){
  .ais-search-box {
  margin: auto;
  max-width: 70% !important;
  width: 100% !important;
}
}
