.show-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.under-chatroom {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;
  span {
  font-size: 20px;
}
}


.explication-show {
  font-size: 20px;
}

.comment-title {
  h4 {
  margin-bottom: 1.5em;
}
}

.lyrics {
  line-height: 2.5;
}

// Media queries

@media (max-width: 767px) {
  .interested-btn {
    height: 60px;
    width: 250px;
}

.interested-flip-card {
  min-width: 250px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
}
.show-disconnected-wrapper {
  margin: auto;
  width: 75%;
  h2 {
  margin-top: 15px;
}
}

.interested-container {
  width: 75%;
}
.comment-bottom {
  background-color: rgb(249, 242, 242);
}

.interested-name {
  display: none;
}
.interested-people {
  line-height: 1 !important;
  margin-top: 40px;
  font-size: 1.5em;
  color: brown;
    span {
    display: flex;
    justify-content: center;
    font-size: 2em;
  }
}

.chatrooms {
  margin-top: 50px;
}

.lyrics {
  margin-bottom: 60px;
}
}

@media (min-width: 768px) {
  .interested-btn {
    height: 60px;
    width: 500px;
}
.show-disconnected-wrapper {
  margin: auto;
  width: 80%;
}

.interested-people {
  font-size: 25px;
  padding-top: 20px;
  span {
  font-size: 40px;
  font-weight: 600;
}
}

.interested-flip-card {
  margin: 50px auto 50px auto;
  background-color: transparent;
  cursor: pointer;
  perspective: 1000px;
  width: 400px;
  height: 160px;
}

.interested-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.interested-flip-card:hover .interested-flip-card-inner {
  transform: rotateY(180deg);
}

.interested-flip-card-front, .interested-flip-card-back {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
}

.interested-flip-card-front {
  border-radius: 5px;
  background-color: white;
  color: black;
}

.interested-flip-card-back {
  border-radius: 5px;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  max-height: 200px;
  overflow: auto;
}

.interested-name {
  font-size: 20px;
  padding-top: 5px; 
}

.comment-bottom {
  padding: 20px;
  margin: 50px 30px 30px 30px;
  background-color: rgb(249, 242, 242);
}
.lyrics{
  margin-left: 35px;
}
}

@media (max-width: 1100px) {
.chatrooms {
  line-height: 1;
}
}

@media (min-width: 1101px) {
.chatrooms {
  line-height: 2;
}
}
