.show-header:before{
  content: "";
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media only screen and (min-width: 414px) {
  .show-header:before{
    background-image: url(/assets/show-header.jpg);
    }
}
@media (max-width: 414px) {
    .show-header:before{
      background-image: url(/assets/home2-phone.jpg);
    }
}

.show-header {
  background-color: $header-color;
  overflow: hidden;
  position: relative;
}

.show-header .container {
  position: relative;
  z-index: 3;
  text-align: center;
  margin-top: 120px;
  font-family: $show-font;

  h2 {
   color: white;
   font-size: 50px;
 }
   p {
   color: white;
  font-weight: 200;
   }

  #date {
  font-size: 20px;
}

   a {
   color: white;
   font-size: 1.2rem;
   padding: 15px;
 }
}


// Media queries

@media (min-width: 991px) {
  .show-header {
  width: 100%;
  min-height: 300px;
}
}

@media (max-width: 991px) {
  .show-header {
  margin-top: 50px;
  width: 100%;
  min-height: 500px;
}
}
