/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "variables/personal_variables";
 @import "variables/bootstrap_variables";
 @import "bootstrap";
 @import "components/*";
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');




 body {
   margin-bottom: 600px;
   height:100%;
   width:100%;
   margin:0;
   padding:0;
 }



 // hr {
 //     box-sizing: content-box;
 //     height: 0;
 //     overflow: visible;
 // }
 //
 // .form-control {
 //     display: block;
 //     width: 100%;
 //     padding: 1.0625rem .875rem;
 //     font-size: .875rem;
 //     line-height: 1.5;
 //     color: #495057;
 //     background-color: #fff;
 //     background-clip: padding-box;
 //     border: 1px solid #ededed;
 //     border-radius: .1875rem;
 //     transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 // }
 //
 // .form-control::-ms-expand {
 //     background-color: transparent;
 //     border: 0;
 // }
 //
 // .form-control:focus {
 //     color: #495057;
 //     background-color: #fff;
 //     border-color: #d9d9d9;
 //     outline: 0;
 //     box-shadow: none;
 // }
 //
 // .form-control::-webkit-input-placeholder {
 //     color: #6c757d;
 //     opacity: 1;
 // }
 //
 // .form-control:-ms-input-placeholder {
 //     color: #6c757d;
 //     opacity: 1;
 // }
 //
 // .form-control::placeholder {
 //     color: #6c757d;
 //     opacity: 1;
 // }
 //
 // .form-control:disabled,
 // .form-control[readonly] {
 //     background-color: #e9ecef;
 //     opacity: 1;
 // }
 //
 // select.form-control:not([size]):not([multiple]) {
 //     height: 3.375rem;
 // }
 //
 // select.form-control:focus::-ms-value {
 //     color: #495057;
 //     background-color: #fff;
 // }
 //
 // .form-control-file,
 // .form-control-range {
 //     display: block;
 //     width: 100%;
 // }
 //
 //
 //
 // .btn {
 //     display: inline-block;
 //     font-weight: 600;
 //     text-align: center;
 //     white-space: nowrap;
 //     vertical-align: middle;
 //     -webkit-user-select: none;
 //        -moz-user-select: none;
 //         -ms-user-select: none;
 //             user-select: none;
 //     border: 2px solid transparent;
 //     padding: 1rem 1.875rem;
 //     font-size: .875rem;
 //     line-height: 1.5;
 //     border-radius: .1875rem;
 //     transition: color .15s ease-in-out,
 //                 background-color .15s ease-in-out,
 //                 border-color .15s ease-in-out,
 //                 box-shadow .15s ease-in-out;
 // }
 //
 // .btn:hover,
 // .btn:focus {
 //     text-decoration: none;
 // }
 //
 // .btn:focus,
 // .btn.focus {
 //     outline: 0;
 //     box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
 // }
 //
 // .btn.disabled,
 // .btn:disabled {
 //     opacity: .65;
 // }
 //
 // .btn:not(:disabled):not(.disabled) {
 //     cursor: pointer;
 // }
 //
 // .btn:not(:disabled):not(.disabled):active,
 // .btn:not(:disabled):not(.disabled).active {
 //     background-image: none;
 // }
 //
 // a.btn.disabled,
 // fieldset:disabled a.btn {
 //     pointer-events: none;
 // }
 //
 // .btn-black {
 //     color: #fff;
 //     background-color: #222;
 //     border-color: #222;
 // }
 //
 // .btn-black:hover {
 //     color: #fff;
 //     background-color: #0f0f0f;
 //     border-color: #0f0f0f;
 // }
 //
 // .btn-black:focus,
 // .btn-black.focus {
 //     box-shadow: 0 0 0 .2rem rgba(34, 34, 34, .5);
 // }
 //
 // .btn-black.disabled,
 // .btn-black:disabled {
 //     background-color: #222;
 //     border-color: #222;
 // }
 //
 // .btn-black:not([disabled]):not(.disabled):active,
 // .btn-black:not([disabled]):not(.disabled).active,
 // .show > .btn-black.dropdown-toggle {
 //     color: #fff;
 //     background-color: #090909;
 //     border-color: #020202;
 //     box-shadow: 0 0 0 .2rem rgba(34, 34, 34, .5);
 // }
 //
 // .btn-brand {
 //     color: #fff;
 //     background-color: #505cfd;
 //     border-color: #505cfd;
 // }
 //
 // .btn-brand:hover {
 //     color: #fff;
 //     background-color: #2a39fd;
 //     border-color: #2a39fd;
 // }
 //
 // .btn-brand:focus,
 // .btn-brand.focus {
 //     box-shadow: 0 0 0 .2rem rgba(80, 92, 253, .5);
 // }
 //
 // .btn-brand.disabled,
 // .btn-brand:disabled {
 //     background-color: #505cfd;
 //     border-color: #505cfd;
 // }
 //
 // .btn-brand:not([disabled]):not(.disabled):active,
 // .btn-brand:not([disabled]):not(.disabled).active,
 // .show > .btn-brand.dropdown-toggle {
 //     color: #fff;
 //     background-color: #1e2dfc;
 //     border-color: #1121fc;
 //     box-shadow: 0 0 0 .2rem rgba(80, 92, 253, .5);
 // }
 //
 // .btn-new-gray {
 //     color: #212529;
 //     background-color: #d8d8d8;
 //     border-color: #d8d8d8;
 // }
 //
 // .btn-new-gray:hover {
 //     color: #212529;
 //     background-color: #c5c5c5;
 //     border-color: #c5c5c5;
 // }
 //
 // .btn-new-gray:focus,
 // .btn-new-gray.focus {
 //     box-shadow: 0 0 0 .2rem rgba(216, 216, 216, .5);
 // }
 //
 // .btn-new-gray.disabled,
 // .btn-new-gray:disabled {
 //     background-color: #d8d8d8;
 //     border-color: #d8d8d8;
 // }
 //
 // .btn-new-gray:not([disabled]):not(.disabled):active,
 // .btn-new-gray:not([disabled]):not(.disabled).active,
 // .show > .btn-new-gray.dropdown-toggle {
 //     color: #212529;
 //     background-color: #bfbfbf;
 //     border-color: #b8b8b8;
 //     box-shadow: 0 0 0 .2rem rgba(216, 216, 216, .5);
 // }
 //
 // .btn-new-white {
 //     color: #212529;
 //     background-color: #fff;
 //     border-color: #fff;
 // }
 //
 // .btn-new-white:hover {
 //     color: #212529;
 //     background-color: #ececec;
 //     border-color: #ececec;
 // }
 //
 // .btn-new-white:focus,
 // .btn-new-white.focus {
 //     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
 // }
 //
 // .btn-new-white.disabled,
 // .btn-new-white:disabled {
 //     background-color: #fff;
 //     border-color: #fff;
 // }
 //
 // .btn-new-white:not([disabled]):not(.disabled):active,
 // .btn-new-white:not([disabled]):not(.disabled).active,
 // .show > .btn-new-white.dropdown-toggle {
 //     color: #212529;
 //     background-color: #e6e6e6;
 //     border-color: #dfdfdf;
 //     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
 // }
 //
 // .btn-primary {
 //     color: #fff;
 //     background-color: #007bff;
 //     border-color: #007bff;
 // }
 //
 // .btn-primary:hover {
 //     color: #fff;
 //     background-color: #0069d9;
 //     border-color: #0069d9;
 // }
 //
 // .btn-primary:focus,
 // .btn-primary.focus {
 //     box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
 // }
 //
 // .btn-primary.disabled,
 // .btn-primary:disabled {
 //     background-color: #007bff;
 //     border-color: #007bff;
 // }
 //
 // .btn-primary:not([disabled]):not(.disabled):active,
 // .btn-primary:not([disabled]):not(.disabled).active,
 // .show > .btn-primary.dropdown-toggle {
 //     color: #fff;
 //     background-color: #0062cc;
 //     border-color: #005cbf;
 //     box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
 // }
 //
 // .btn-secondary {
 //     color: #fff;
 //     background-color: #6c757d;
 //     border-color: #6c757d;
 // }
 //
 // .btn-secondary:hover {
 //     color: #fff;
 //     background-color: #5a6268;
 //     border-color: #5a6268;
 // }
 //
 // .btn-secondary:focus,
 // .btn-secondary.focus {
 //     box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
 // }
 //
 // .btn-secondary.disabled,
 // .btn-secondary:disabled {
 //     background-color: #6c757d;
 //     border-color: #6c757d;
 // }
 //
 // .btn-secondary:not([disabled]):not(.disabled):active,
 // .btn-secondary:not([disabled]):not(.disabled).active,
 // .show > .btn-secondary.dropdown-toggle {
 //     color: #fff;
 //     background-color: #545b62;
 //     border-color: #4e555b;
 //     box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
 // }
 //
 // .btn-success {
 //     color: #fff;
 //     background-color: #28a745;
 //     border-color: #28a745;
 // }
 //
 // .btn-success:hover {
 //     color: #fff;
 //     background-color: #218838;
 //     border-color: #218838;
 // }
 //
 // .btn-success:focus,
 // .btn-success.focus {
 //     box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
 // }
 //
 // .btn-success.disabled,
 // .btn-success:disabled {
 //     background-color: #28a745;
 //     border-color: #28a745;
 // }
 //
 // .btn-success:not([disabled]):not(.disabled):active,
 // .btn-success:not([disabled]):not(.disabled).active,
 // .show > .btn-success.dropdown-toggle {
 //     color: #fff;
 //     background-color: #1e7e34;
 //     border-color: #1c7430;
 //     box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
 // }
 //
 // .btn-info {
 //     color: #fff;
 //     background-color: #17a2b8;
 //     border-color: #17a2b8;
 // }
 //
 // .btn-info:hover {
 //     color: #fff;
 //     background-color: #138496;
 //     border-color: #138496;
 // }
 //
 // .btn-info:focus,
 // .btn-info.focus {
 //     box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
 // }
 //
 // .btn-info.disabled,
 // .btn-info:disabled {
 //     background-color: #17a2b8;
 //     border-color: #17a2b8;
 // }
 //
 // .btn-info:not([disabled]):not(.disabled):active,
 // .btn-info:not([disabled]):not(.disabled).active,
 // .show > .btn-info.dropdown-toggle {
 //     color: #fff;
 //     background-color: #117a8b;
 //     border-color: #10707f;
 //     box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
 // }
 //
 // .btn-warning {
 //     color: #212529;
 //     background-color: #ffc107;
 //     border-color: #ffc107;
 // }
 //
 // .btn-warning:hover {
 //     color: #212529;
 //     background-color: #e0a800;
 //     border-color: #e0a800;
 // }
 //
 // .btn-warning:focus,
 // .btn-warning.focus {
 //     box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
 // }
 //
 // .btn-warning.disabled,
 // .btn-warning:disabled {
 //     background-color: #ffc107;
 //     border-color: #ffc107;
 // }
 //
 // .btn-warning:not([disabled]):not(.disabled):active,
 // .btn-warning:not([disabled]):not(.disabled).active,
 // .show > .btn-warning.dropdown-toggle {
 //     color: #212529;
 //     background-color: #d39e00;
 //     border-color: #c69500;
 //     box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
 // }
 //
 // .btn-danger {
 //     color: #fff;
 //     background-color: #dc3545;
 //     border-color: #dc3545;
 // }
 //
 // .btn-danger:hover {
 //     color: #fff;
 //     background-color: #c82333;
 //     border-color: #c82333;
 // }
 //
 // .btn-danger:focus,
 // .btn-danger.focus {
 //     box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
 // }
 //
 // .btn-danger.disabled,
 // .btn-danger:disabled {
 //     background-color: #dc3545;
 //     border-color: #dc3545;
 // }
 //
 // .btn-danger:not([disabled]):not(.disabled):active,
 // .btn-danger:not([disabled]):not(.disabled).active,
 // .show > .btn-danger.dropdown-toggle {
 //     color: #fff;
 //     background-color: #bd2130;
 //     border-color: #b21f2d;
 //     box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
 // }
 //
 // .btn-light {
 //     color: #212529;
 //     background-color: #f8f9fa;
 //     border-color: #f8f9fa;
 // }
 //
 // .btn-light:hover {
 //     color: #212529;
 //     background-color: #e2e6ea;
 //     border-color: #e2e6ea;
 // }
 //
 // .btn-light:focus,
 // .btn-light.focus {
 //     box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
 // }
 //
 // .btn-light.disabled,
 // .btn-light:disabled {
 //     background-color: #f8f9fa;
 //     border-color: #f8f9fa;
 // }
 //
 // .btn-light:not([disabled]):not(.disabled):active,
 // .btn-light:not([disabled]):not(.disabled).active,
 // .show > .btn-light.dropdown-toggle {
 //     color: #212529;
 //     background-color: #dae0e5;
 //     border-color: #d3d9df;
 //     box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
 // }
 //
 // .btn-dark {
 //     color: #fff;
 //     background-color: #343a40;
 //     border-color: #343a40;
 // }
 //
 // .btn-dark:hover {
 //     color: #fff;
 //     background-color: #23272b;
 //     border-color: #23272b;
 // }
 //
 // .btn-dark:focus,
 // .btn-dark.focus {
 //     box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
 // }
 //
 // .btn-dark.disabled,
 // .btn-dark:disabled {
 //     background-color: #343a40;
 //     border-color: #343a40;
 // }
 //
 // .btn-dark:not([disabled]):not(.disabled):active,
 // .btn-dark:not([disabled]):not(.disabled).active,
 // .show > .btn-dark.dropdown-toggle {
 //     color: #fff;
 //     background-color: #1d2124;
 //     border-color: #171a1d;
 //     box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
 // }
 //
 // .btn-outline-black {
 //     color: #222;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #222;
 // }
 //
 // .btn-outline-black:hover {
 //     color: #fff;
 //     background-color: #222;
 //     border-color: #222;
 // }
 //
 // .btn-outline-black:focus,
 // .btn-outline-black.focus {
 //     box-shadow: 0 0 0 .2rem rgba(34, 34, 34, .5);
 // }
 //
 // .btn-outline-black.disabled,
 // .btn-outline-black:disabled {
 //     color: #222;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-black:not(:disabled):not(.disabled):active,
 // .btn-outline-black:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-black.dropdown-toggle {
 //     color: #fff;
 //     background-color: #222;
 //     border-color: #222;
 // }
 //
 // .btn-outline-black:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-black:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-black.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(34, 34, 34, .5);
 // }
 //
 // .btn-outline-brand {
 //     color: #505cfd;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #505cfd;
 // }
 //
 // .btn-outline-brand:hover {
 //     color: #fff;
 //     background-color: #505cfd;
 //     border-color: #505cfd;
 // }
 //
 // .btn-outline-brand:focus,
 // .btn-outline-brand.focus {
 //     box-shadow: 0 0 0 .2rem rgba(80, 92, 253, .5);
 // }
 //
 // .btn-outline-brand.disabled,
 // .btn-outline-brand:disabled {
 //     color: #505cfd;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-brand:not(:disabled):not(.disabled):active,
 // .btn-outline-brand:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-brand.dropdown-toggle {
 //     color: #fff;
 //     background-color: #505cfd;
 //     border-color: #505cfd;
 // }
 //
 // .btn-outline-brand:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-brand:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-brand.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(80, 92, 253, .5);
 // }
 //
 // .btn-outline-new-gray {
 //     color: #d8d8d8;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #d8d8d8;
 // }
 //
 // .btn-outline-new-gray:hover {
 //     color: #212529;
 //     background-color: #d8d8d8;
 //     border-color: #d8d8d8;
 // }
 //
 // .btn-outline-new-gray:focus,
 // .btn-outline-new-gray.focus {
 //     box-shadow: 0 0 0 .2rem rgba(216, 216, 216, .5);
 // }
 //
 // .btn-outline-new-gray.disabled,
 // .btn-outline-new-gray:disabled {
 //     color: #d8d8d8;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-new-gray:not(:disabled):not(.disabled):active,
 // .btn-outline-new-gray:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-new-gray.dropdown-toggle {
 //     color: #212529;
 //     background-color: #d8d8d8;
 //     border-color: #d8d8d8;
 // }
 //
 // .btn-outline-new-gray:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-new-gray:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-new-gray.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(216, 216, 216, .5);
 // }
 //
 // .btn-outline-new-white {
 //     color: #fff;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #fff;
 // }
 //
 // .btn-outline-new-white:hover {
 //     color: #212529;
 //     background-color: #fff;
 //     border-color: #fff;
 // }
 //
 // .btn-outline-new-white:focus,
 // .btn-outline-new-white.focus {
 //     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
 // }
 //
 // .btn-outline-new-white.disabled,
 // .btn-outline-new-white:disabled {
 //     color: #fff;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-new-white:not(:disabled):not(.disabled):active,
 // .btn-outline-new-white:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-new-white.dropdown-toggle {
 //     color: #212529;
 //     background-color: #fff;
 //     border-color: #fff;
 // }
 //
 // .btn-outline-new-white:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-new-white:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-new-white.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
 // }
 //
 // .btn-outline-primary {
 //     color: #007bff;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #007bff;
 // }
 //
 // .btn-outline-primary:hover {
 //     color: #fff;
 //     background-color: #007bff;
 //     border-color: #007bff;
 // }
 //
 // .btn-outline-primary:focus,
 // .btn-outline-primary.focus {
 //     box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
 // }
 //
 // .btn-outline-primary.disabled,
 // .btn-outline-primary:disabled {
 //     color: #007bff;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-primary:not(:disabled):not(.disabled):active,
 // .btn-outline-primary:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-primary.dropdown-toggle {
 //     color: #fff;
 //     background-color: #007bff;
 //     border-color: #007bff;
 // }
 //
 // .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-primary.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
 // }
 //
 // .btn-outline-secondary {
 //     color: #6c757d;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #6c757d;
 // }
 //
 // .btn-outline-secondary:hover {
 //     color: #fff;
 //     background-color: #6c757d;
 //     border-color: #6c757d;
 // }
 //
 // .btn-outline-secondary:focus,
 // .btn-outline-secondary.focus {
 //     box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
 // }
 //
 // .btn-outline-secondary.disabled,
 // .btn-outline-secondary:disabled {
 //     color: #6c757d;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-secondary:not(:disabled):not(.disabled):active,
 // .btn-outline-secondary:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-secondary.dropdown-toggle {
 //     color: #fff;
 //     background-color: #6c757d;
 //     border-color: #6c757d;
 // }
 //
 // .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-secondary.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5);
 // }
 //
 // .btn-outline-success {
 //     color: #28a745;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #28a745;
 // }
 //
 // .btn-outline-success:hover {
 //     color: #fff;
 //     background-color: #28a745;
 //     border-color: #28a745;
 // }
 //
 // .btn-outline-success:focus,
 // .btn-outline-success.focus {
 //     box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
 // }
 //
 // .btn-outline-success.disabled,
 // .btn-outline-success:disabled {
 //     color: #28a745;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-success:not(:disabled):not(.disabled):active,
 // .btn-outline-success:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-success.dropdown-toggle {
 //     color: #fff;
 //     background-color: #28a745;
 //     border-color: #28a745;
 // }
 //
 // .btn-outline-success:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-success:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-success.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
 // }
 //
 // .btn-outline-info {
 //     color: #17a2b8;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #17a2b8;
 // }
 //
 // .btn-outline-info:hover {
 //     color: #fff;
 //     background-color: #17a2b8;
 //     border-color: #17a2b8;
 // }
 //
 // .btn-outline-info:focus,
 // .btn-outline-info.focus {
 //     box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
 // }
 //
 // .btn-outline-info.disabled,
 // .btn-outline-info:disabled {
 //     color: #17a2b8;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-info:not(:disabled):not(.disabled):active,
 // .btn-outline-info:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-info.dropdown-toggle {
 //     color: #fff;
 //     background-color: #17a2b8;
 //     border-color: #17a2b8;
 // }
 //
 // .btn-outline-info:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-info:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-info.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5);
 // }
 //
 // .btn-outline-warning {
 //     color: #ffc107;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #ffc107;
 // }
 //
 // .btn-outline-warning:hover {
 //     color: #212529;
 //     background-color: #ffc107;
 //     border-color: #ffc107;
 // }
 //
 // .btn-outline-warning:focus,
 // .btn-outline-warning.focus {
 //     box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
 // }
 //
 // .btn-outline-warning.disabled,
 // .btn-outline-warning:disabled {
 //     color: #ffc107;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-warning:not(:disabled):not(.disabled):active,
 // .btn-outline-warning:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-warning.dropdown-toggle {
 //     color: #212529;
 //     background-color: #ffc107;
 //     border-color: #ffc107;
 // }
 //
 // .btn-outline-warning:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-warning.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5);
 // }
 //
 // .btn-outline-danger {
 //     color: #dc3545;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #dc3545;
 // }
 //
 // .btn-outline-danger:hover {
 //     color: #fff;
 //     background-color: #dc3545;
 //     border-color: #dc3545;
 // }
 //
 // .btn-outline-danger:focus,
 // .btn-outline-danger.focus {
 //     box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
 // }
 //
 // .btn-outline-danger.disabled,
 // .btn-outline-danger:disabled {
 //     color: #dc3545;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-danger:not(:disabled):not(.disabled):active,
 // .btn-outline-danger:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-danger.dropdown-toggle {
 //     color: #fff;
 //     background-color: #dc3545;
 //     border-color: #dc3545;
 // }
 //
 // .btn-outline-danger:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-danger.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
 // }
 //
 // .btn-outline-light {
 //     color: #f8f9fa;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #f8f9fa;
 // }
 //
 // .btn-outline-light:hover {
 //     color: #212529;
 //     background-color: #f8f9fa;
 //     border-color: #f8f9fa;
 // }
 //
 // .btn-outline-light:focus,
 // .btn-outline-light.focus {
 //     box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
 // }
 //
 // .btn-outline-light.disabled,
 // .btn-outline-light:disabled {
 //     color: #f8f9fa;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-light:not(:disabled):not(.disabled):active,
 // .btn-outline-light:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-light.dropdown-toggle {
 //     color: #212529;
 //     background-color: #f8f9fa;
 //     border-color: #f8f9fa;
 // }
 //
 // .btn-outline-light:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-light:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-light.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5);
 // }
 //
 // .btn-outline-dark {
 //     color: #343a40;
 //     background-color: transparent;
 //     background-image: none;
 //     border-color: #343a40;
 // }
 //
 // .btn-outline-dark:hover {
 //     color: #fff;
 //     background-color: #343a40;
 //     border-color: #343a40;
 // }
 //
 // .btn-outline-dark:focus,
 // .btn-outline-dark.focus {
 //     box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
 // }
 //
 // .btn-outline-dark.disabled,
 // .btn-outline-dark:disabled {
 //     color: #343a40;
 //     background-color: transparent;
 // }
 //
 // .btn-outline-dark:not(:disabled):not(.disabled):active,
 // .btn-outline-dark:not(:disabled):not(.disabled).active,
 // .show > .btn-outline-dark.dropdown-toggle {
 //     color: #fff;
 //     background-color: #343a40;
 //     border-color: #343a40;
 // }
 //
 // .btn-outline-dark:not(:disabled):not(.disabled):active:focus,
 // .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
 // .show > .btn-outline-dark.dropdown-toggle:focus {
 //     box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
 // }
 //
 // .btn-link {
 //     font-weight: 400;
 //     color: #505cfd;
 //     background-color: transparent;
 // }
 //
 // .btn-link:hover {
 //     color: #0416fc;
 //     text-decoration: none;
 //     background-color: transparent;
 //     border-color: transparent;
 // }
 //
 // .btn-link:focus,
 // .btn-link.focus {
 //     text-decoration: none;
 //     border-color: transparent;
 //     box-shadow: none;
 // }
 //
 // .btn-link:disabled,
 // .btn-link.disabled {
 //     color: #6c757d;
 // }
 //
 // .btn-lg,
 // .btn-group-lg > .btn {
 //     padding: 1.1875rem 2.25rem;
 //     font-size: 1.25rem;
 //     line-height: 1.5;
 //     border-radius: .1875rem;
 // }
 //
 // .btn-sm,
 // .btn-group-sm > .btn {
 //     padding: .625rem 1.5rem;
 //     font-size: .875rem;
 //     line-height: 1.5;
 //     border-radius: .1875rem;
 // }
 //
 // .btn-block {
 //     display: block;
 //     width: 100%;
 // }
 //
 // .btn-block + .btn-block {
 //     margin-top: .5rem;
 // }
 //
 //
 // .pagination-lg .page-link {
 //     padding: .75rem 1.5rem;
 //     font-size: 1.25rem;
 //     line-height: 1.5;
 // }
 //
 // .pagination-lg .page-item:first-child .page-link {
 //     border-top-left-radius: .3rem;
 //     border-bottom-left-radius: .3rem;
 // }
 //
 // .pagination-lg .page-item:last-child .page-link {
 //     border-top-right-radius: .3rem;
 //     border-bottom-right-radius: .3rem;
 // }
 //
 // .pagination-sm .page-link {
 //     padding: .25rem .5rem;
 //     font-size: .875rem;
 //     line-height: 1.5;
 // }
 //
 // .pagination-sm .page-item:first-child .page-link {
 //     border-top-left-radius: .2rem;
 //     border-bottom-left-radius: .2rem;
 // }
 //
 // .pagination-sm .page-item:last-child .page-link {
 //     border-top-right-radius: .2rem;
 //     border-bottom-right-radius: .2rem;
 // }
 //
 //
 // .alert {
 //     position: relative;
 //     padding: 1.125rem 1.125rem;
 //     margin-bottom: 1rem;
 //     border: 0 solid transparent;
 //     border-radius: .25rem;
 // }
 //
 // .alert-heading {
 //     color: inherit;
 // }
 //
 // .alert-link {
 //     font-weight: 700;
 // }
 //
 // .alert-dismissible {
 //     padding-right: 3.75rem;
 // }
 //
 // .alert-dismissible .close {
 //     position: absolute;
 //     top: 0;
 //     right: 0;
 //     padding: 1.125rem 1.125rem;
 //     color: inherit;
 // }
 //
 // .alert-black {
 //     color: #121212;
 //     background-color: lightgray;
 //     border-color: #c1c1c1;
 // }
 //
 // .alert-black hr {
 //     border-top-color: #b4b4b4;
 // }
 //
 // .alert-black .alert-link {
 //     color: black;
 // }
 //
 // .alert-brand {
 //     color: #2a3084;
 //     background-color: #dcdeff;
 //     border-color: #ced1fe;
 // }
 //
 // .alert-brand hr {
 //     border-top-color: #b5bafd;
 // }
 //
 // .alert-brand .alert-link {
 //     color: #1e225d;
 // }
 //
 // .alert-new-gray {
 //     color: #707070;
 //     background-color: #f7f7f7;
 //     border-color: #f4f4f4;
 // }
 //
 // .alert-new-gray hr {
 //     border-top-color: #e7e7e7;
 // }
 //
 // .alert-new-gray .alert-link {
 //     color: #575757;
 // }
 //
 // .alert-new-white {
 //     color: #858585;
 //     background-color: white;
 //     border-color: white;
 // }
 //
 // .alert-new-white hr {
 //     border-top-color: #f2f2f2;
 // }
 //
 // .alert-new-white .alert-link {
 //     color: #6c6c6c;
 // }
 //
 // .alert-primary {
 //     color: #004085;
 //     background-color: #cce5ff;
 //     border-color: #b8daff;
 // }
 //
 // .alert-primary hr {
 //     border-top-color: #9fcdff;
 // }
 //
 // .alert-primary .alert-link {
 //     color: #002752;
 // }
 //
 // .alert-secondary {
 //     color: #383d41;
 //     background-color: #e2e3e5;
 //     border-color: #d6d8db;
 // }
 //
 // .alert-secondary hr {
 //     border-top-color: #c8cbcf;
 // }
 //
 // .alert-secondary .alert-link {
 //     color: #202326;
 // }
 //
 // .alert-success {
 //     color: #155724;
 //     background-color: #d4edda;
 //     border-color: #c3e6cb;
 // }
 //
 // .alert-success hr {
 //     border-top-color: #b1dfbb;
 // }
 //
 // .alert-success .alert-link {
 //     color: #0b2e13;
 // }
 //
 // .alert-info {
 //     color: #0c5460;
 //     background-color: #d1ecf1;
 //     border-color: #bee5eb;
 // }
 //
 // .alert-info hr {
 //     border-top-color: #abdde5;
 // }
 //
 // .alert-info .alert-link {
 //     color: #062c33;
 // }
 //
 // .alert-warning {
 //     color: #856404;
 //     background-color: #fff3cd;
 //     border-color: #ffeeba;
 // }
 //
 // .alert-warning hr {
 //     border-top-color: #ffe8a1;
 // }
 //
 // .alert-warning .alert-link {
 //     color: #533f03;
 // }
 //
 // .alert-danger {
 //     color: #721c24;
 //     background-color: #f8d7da;
 //     border-color: #f5c6cb;
 // }
 //
 // .alert-danger hr {
 //     border-top-color: #f1b0b7;
 // }
 //
 // .alert-danger .alert-link {
 //     color: #491217;
 // }
 //
 // .alert-light {
 //     color: #818182;
 //     background-color: #fefefe;
 //     border-color: #fdfdfe;
 // }
 //
 // .alert-light hr {
 //     border-top-color: #ececf6;
 // }
 //
 // .alert-light .alert-link {
 //     color: #686868;
 // }
 //
 // .alert-dark {
 //     color: #1b1e21;
 //     background-color: #d6d8d9;
 //     border-color: #c6c8ca;
 // }
 //
 // .alert-dark hr {
 //     border-top-color: #b9bbbe;
 // }
 //
 // .alert-dark .alert-link {
 //     color: #040505;
 // }
 //
 // @-webkit-keyframes progress-bar-stripes {
 //     from {
 //         background-position: .875rem 0;
 //     }
 //
 //     to {
 //         background-position: 0 0;
 //     }
 // }
 //
 // @keyframes progress-bar-stripes {
 //     from {
 //         background-position: .875rem 0;
 //     }
 //
 //     to {
 //         background-position: 0 0;
 //     }
 // }
 //
 //
 //
 // .carousel {
 //     position: relative;
 // }
 //
 // .carousel-inner {
 //     position: relative;
 //     width: 100%;
 //     overflow: hidden;
 // }
 //
 // .carousel-item {
 //     position: relative;
 //     display: none;
 //     -webkit-box-align: center;
 //     -ms-flex-align: center;
 //     align-items: center;
 //     width: 100%;
 //     transition: -webkit-transform .6s ease;
 //     transition: transform .6s ease;
 //     transition: transform .6s ease, -webkit-transform .6s ease;
 //     -webkit-backface-visibility: hidden;
 //             backface-visibility: hidden;
 //     -webkit-perspective: 1000px;
 //             perspective: 1000px;
 // }
 //
 // .carousel-item.active,
 // .carousel-item-next,
 // .carousel-item-prev {
 //     display: block;
 // }
 //
 // .carousel-item-next,
 // .carousel-item-prev {
 //     position: absolute;
 //     top: 0;
 // }
 //
 // .carousel-item-next.carousel-item-left,
 // .carousel-item-prev.carousel-item-right {
 //     -webkit-transform: translateX(0);
 //             transform: translateX(0);
 // }
 //
 // @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
 //     .carousel-item-next.carousel-item-left,
 //     .carousel-item-prev.carousel-item-right {
 //         -webkit-transform: translate3d(0, 0, 0);
 //                 transform: translate3d(0, 0, 0);
 //     }
 // }
 //
 // .carousel-item-next,
 // .active.carousel-item-right {
 //     -webkit-transform: translateX(100%);
 //             transform: translateX(100%);
 // }
 //
 // @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
 //     .carousel-item-next,
 //     .active.carousel-item-right {
 //         -webkit-transform: translate3d(100%, 0, 0);
 //                 transform: translate3d(100%, 0, 0);
 //     }
 // }
 //
 // .carousel-item-prev,
 // .active.carousel-item-left {
 //     -webkit-transform: translateX(-100%);
 //             transform: translateX(-100%);
 // }
 //
 // @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
 //     .carousel-item-prev,
 //     .active.carousel-item-left {
 //         -webkit-transform: translate3d(-100%, 0, 0);
 //                 transform: translate3d(-100%, 0, 0);
 //     }
 // }
 //
 // .carousel-control-prev,
 // .carousel-control-next {
 //     position: absolute;
 //     top: 0;
 //     bottom: 0;
 //     display: -webkit-box;
 //     display: -ms-flexbox;
 //     display: flex;
 //     -webkit-box-align: center;
 //     -ms-flex-align: center;
 //     align-items: center;
 //     -webkit-box-pack: center;
 //     -ms-flex-pack: center;
 //     justify-content: center;
 //     width: 15%;
 //     color: #fff;
 //     text-align: center;
 //     opacity: .5;
 // }
 //
 // .carousel-control-prev:hover,
 // .carousel-control-prev:focus,
 // .carousel-control-next:hover,
 // .carousel-control-next:focus {
 //     color: #fff;
 //     text-decoration: none;
 //     outline: 0;
 //     opacity: .9;
 // }
 //
 // .carousel-control-prev {
 //     left: 0;
 // }
 //
 // .carousel-control-next {
 //     right: 0;
 // }
 //
 // .carousel-control-prev-icon,
 // .carousel-control-next-icon {
 //     display: inline-block;
 //     width: 20px;
 //     height: 20px;
 //     background: transparent no-repeat center center;
 //     background-size: 100% 100%;
 // }
 //
 // .carousel-control-prev-icon {
 //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
 // }
 //
 // .carousel-control-next-icon {
 //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
 // }
 //
 // .carousel-indicators {
 //     position: absolute;
 //     right: 0;
 //     bottom: 10px;
 //     left: 0;
 //     z-index: 15;
 //     display: -webkit-box;
 //     display: -ms-flexbox;
 //     display: flex;
 //     -webkit-box-pack: center;
 //     -ms-flex-pack: center;
 //     justify-content: center;
 //     padding-left: 0;
 //     margin-right: 15%;
 //     margin-left: 15%;
 //     list-style: none;
 // }
 //
 // .carousel-indicators li {
 //     position: relative;
 //     -webkit-box-flex: 0;
 //     -ms-flex: 0 1 auto;
 //         flex: 0 1 auto;
 //     width: 30px;
 //     height: 3px;
 //     margin-right: 3px;
 //     margin-left: 3px;
 //     text-indent: -999px;
 //     background-color: rgba(255, 255, 255, .5);
 // }
 //
 // .carousel-indicators li::before {
 //     position: absolute;
 //     top: -10px;
 //     left: 0;
 //     display: inline-block;
 //     width: 100%;
 //     height: 10px;
 //     content: "";
 // }
 //
 // .carousel-indicators li::after {
 //     position: absolute;
 //     bottom: -10px;
 //     left: 0;
 //     display: inline-block;
 //     width: 100%;
 //     height: 10px;
 //     content: "";
 // }
 //
 // .carousel-indicators .active {
 //     background-color: #fff;
 // }
 //
 // .carousel-caption {
 //     position: absolute;
 //     right: 15%;
 //     bottom: 20px;
 //     left: 15%;
 //     z-index: 10;
 //     padding-top: 20px;
 //     padding-bottom: 20px;
 //     color: #fff;
 //     text-align: center;
 // }
 //
 //
 // .form-control {
 //     border-width: 1px;
 //     padding: 1.0625rem .875rem;
 //     font-size: .75rem;
 // }
 //
 // .form-control-sm,
 // .input-group-sm > .form-control,
 // .input-group-sm > .input-group-prepend > .input-group-text,
 // .input-group-sm > .input-group-append > .input-group-text,
 // .input-group-sm > .input-group-prepend > .btn,
 // .input-group-sm > .input-group-append > .btn {
 //     padding: .6875rem .875rem;
 // }
 //
 // .form-control-lg,
 // .input-group-lg > .form-control,
 // .input-group-lg > .input-group-prepend > .input-group-text,
 // .input-group-lg > .input-group-append > .input-group-text,
 // .input-group-lg > .input-group-prepend > .btn,
 // .input-group-lg > .input-group-append > .btn {
 //     padding: 1.25rem .875rem;
 // }
 //
 // .btn {
 //     text-transform: uppercase;
 //     letter-spacing: .1125rem;
 //     font-size: .75rem;
 //     cursor: pointer;
 // }
 //
 // .btn:focus,
 // .btn.focus {
 //     box-shadow: none;
 // }
 //
 // .btn:not(:disabled):not(.disabled):active,
 // .btn:not(:disabled):not(.disabled).active {
 //     box-shadow: none;
 // }
 //
 // .btn:not(:disabled):not(.disabled):active:focus,
 // .btn:not(:disabled):not(.disabled).active:focus {
 //     box-shadow: none;
 // }
 //
 // .btn.btn-circle {
 //     border-radius: 1.875rem;
 // }
 //
 // .btn .btn-icon-left {
 //     margin-right: 4px;
 // }
 //
 // .btn .btn-icon-right {
 //     margin-left: 4px;
 // }
 //
 //

//
// .clear:after {
//   content: '';
//   display: table;
//   clear: both;
// }
//
// /* INPUT */
// header {
//   position: relative;
//   height: 80px;
//   margin-top: 40px;
// }
// header img {
//   position: absolute;
//   top: 9px;
//   left: 0;
//   float: left;
//   max-width: 23%;
// }
// #search-input input {
//   font-size: 28px;
//   font-weight: 100;
//   width: 74%;
//   margin-left: 26%;
//   padding: 10px 0 6px;
//   border: none;
//   border-bottom: 5px solid #eee;
// }
// #search-input input, #search-input input:focus {
//   transition: border-color .3s ease-in;
//   outline: 0;
// }
// #search-input input:focus {
//   border-color: #ed5565;
// }
// #search-input input::-webkit-input-placeholder, #search-input input:-moz-placeholder, #search-input input:-moz-placeholder, #search-input input:-ms-input-placeholder {
//   font-weight: 100;
//   color: #999;
// }
// #search-input-icon {
//   position: relative;
// }
// #search-input-icon:before {
//   position: absolute;
//   right: 0;
//   bottom: 15px;
//   width: 20px;
//   height: 20px;
//   content: '';
//   cursor: default;
//   background: url(img/search_icon.png) no-repeat;
// }
// #search-input-icon.empty:before {
//   cursor: pointer;
//   background-image: url(img/delete_icon.png);
// }
//
// /* HITS */
// #hits {
//   margin: 4px 0;
//   padding: 10px 0;
//   border-top: 2px solid #eee;
// }
// .hit {
//   font-size: 0;
//   padding: 15px 0;
//   border-bottom: 1px solid #eee;
// }
// .hit-name {
//   margin: 0;
// }
// .hit-image {
//   display: inline-block;
//   width: 16%;
//   text-align: center;
// }
// .hit-image img {
//   max-width: 100%;
//   max-height: 180px;
// }
// .hit-content {
//   font-size: 13px;
//   font-weight: 300;
//   display: inline-block;
//   width: 81%;
//   margin-left: 3%;
//   vertical-align: top;
// }
// .hit-stars {
//   font-size: 17px;
//   margin: 4px 0;
//   color: #868686;
// }
//
// .hit-content .hit-price {
//   float: right;
//   margin-left: 20px;
//   color: #ffffff;
//   background: #383838;
//   padding: 4px;
//   border-radius: 3px;
// }
// .hit-content .hit-price, .hit-content .hit-name {
//   font-weight: normal;
//   margin-top: 0;
// }
//
// .hit-content em {
//   font-style: normal;
//   color: #ed5565;
//   border-bottom: solid 1px rgba(244, 107, 91, 0.5);
// }
//
// .hit-content p {
//   font-size: 13px;
// }
//
// .hit-description em {
//   color: inherit;
// }
//
// .hit-category-breadcrumb {
//   margin: 5px 0 2px 0;
// }
//
//   .hit-category-breadcrumb em {
//     color: inherit;
//   }
//
// .hit-content .hit-description {
//   color: #868686;
//   margin: 1px 0 10px 0;
//   font-size: 14px;
// }
//
// /* PAGINATION */
// #pagination {
//   margin-top: 60px;
// }
// #pagination ul {
//   font-size: 0;
//   list-style-type: none;
//   text-align: center;
// }
// #pagination li {
//   font-size: 14px;
//   display: inline;
// }
// #pagination a {
//   padding: 8px 12px;
//   text-decoration: none;
//   color: #000;
//   border: 1px solid #eee;
// }
// #pagination a:hover {
//   background: #f5f5f5;
// }
// #pagination li:first-child a {
//   border-top-left-radius: 4px;
//   border-bottom-left-radius: 4px;
// }
// #pagination li:last-child a {
//   border-right: 1px solid #eee;
//   border-top-right-radius: 4px;
//   border-bottom-right-radius: 4px;
// }
// #pagination li.ais-pagination--item__active a {
//   color: white;
//   border-color: $brown;
//   background: $brown;
// }
// #pagination li.ais-pagination--item__active a:hover {
//   cursor: default;
// }
// #pagination li.ais-pagination--item__disabled a {
//   cursor: not-allowed;
// }
// #pagination li.ais-pagination--item__disabled a:hover {
//   background: none;
// }
//
// /* SORT BY */
// #sort-by-wrapper {
//   font-weight: 300;
//   position: relative;
//   float: right;
//   color: #999;
// }
//
// #sort-by select {
//   font-size: 16px;
//   padding-right: 14px;
//   cursor: pointer;
//   border: none;
//   outline: none;
//   background: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }
//
// #sort-by:after {
//   content: "";
//   display: inline-block;
//   position: absolute;
//
//   top: 8px;
//   right: 0;
//
//   width: 0;
//   height: 0;
//
//   margin-left: 2px;
//   vertical-align: middle;
//
//   color: #000;
//   border-top: 4px dashed;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//
//   pointer-events: none;
// }
//
// /* STATS */
// #stats {
//
// }
//
// #stats .ais-stats--time {
//   font-size: 0.8em;
//   color: #999;
// }
//
// /* FACETS */
// .facet {
//   margin-bottom: 24px;
//   font-size: 14px;
//   color: #000;
// }
// .facet h5 {
//   margin: 0 0 6px;
//   padding: 0 0 6px;
//   text-transform: uppercase;
//   border-bottom: 2px solid #eee;
// }
// .facet ul {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }
// .facet li {
//   margin-bottom: 3px;
// }
//
// .facet a:visited,
// .facet a {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }
//
// /* Collapsable FACETS */
// .ais-root__collapsible .ais-header h5:hover {
//   border-color: #c5c5c5;
//   transition : border 500ms ease-out;
// }
//
// .ais-root__collapsible.ais-root__collapsed .ais-header h5:hover {
//   border-color: #333;
// }
//
// .ais-root__collapsible .ais-header h5:before {
//   display: inline-block;
//   font: normal normal normal 16px/1 FontAwesome;
//   content: "\f106";
//   float: right;
// }
//
// .ais-root__collapsible.ais-root__collapsed .ais-header h5:before {
//   content: "\f107";
// }
//
// .ais-refinement-list--label,
// .ais-hierarchical-menu--list .facet-item,
// .ais-menu--link,
// .ais-price-ranges--item {
//   cursor: pointer;
//   line-height: 1.5em;
// }
// .ais-hierarchical-menu--list .ais-hierarchical-menu--item {
//   margin: 3px 0;
// }
// .ais-hierarchical-menu--link:before {
//   display: inline-block;
//   font: normal normal normal 14px/1 FontAwesome;
//   content: "\f105";
//   padding: 0 5px 0 0;
// }
//
// .sffv_no-results{
//   font-size: 13px;
//   line-height: 1.2;
//   padding-top: 6px;
// }
//
// .ais-refinement-list--label:hover,
// .ais-refinement-list--item__active .ais-refinement-list--label,
// .ais-menu--link:hover,
// .ais-menu--item__active .ais-menu--link,
// .ais-hierarchical-menu--list .facet-item.active:hover,
// .ais-hierarchical-menu--list .facet-item.active {
//   color: $brown;
// }
// .ais-refinement-list--item__active .ais-refinement-list--label:hover,
// .ais-menu--item__active .ais-menu--link:hover,
// .ais-hierarchical-menu--list .facet-item.active:hover {
//   text-decoration: line-through;
//   color: $brown;
// }
// .ais-refinement-list--count,
// .ais-hierarchical-menu--count,
// .ais-menu--count,
// .ais-star-rating--count,
// .ais-toggle--count {
//   position: relative;
//   top: 3px;
//   float: right;
//   color: #999;
// }
//
// #type.facet .ais-refinement-list--checkbox {
//   display: none;
// }
//
// /* NO RESULTS */
// .no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
//   display: none;
// }
// #no-results-message {
//   text-align: center;
// }
// #no-results-message p {
//   font-size: 28px;
//   font-weight: 100;
// }
// #no-results-message ul {
//   list-style-type: none;
// }
// #no-results-message li {
//   font-size: 12px;
//   position: relative;
//   display: inline-block;
//   margin: 4px 2px;
//   padding: 4px 28px 4px 8px;
//   color: #999;
//   border: 1px solid #ddd;
//   border-radius: 12px;
// }
// #no-results-message li span.value {
//   font-weight: bold;
//   color: #000;
// }
// #no-results-message li a.remove img {
//   position: absolute;
//   top: 3px;
//   right: 5px;
//   float: right;
//   width: 17px;
//   height: 17px;
//   opacity: .5;
// }
// #no-results-message li a.remove:hover img {
//   opacity: 1;
// }
// a.clear-all {
//   font-size: 12px;
//   line-height: 1;
//   display: inline-block;
//   margin: 10px;
//   padding: 8px 12px;
//   text-decoration: none;
//   color: black;
//   border: 2px solid #ddd;
//   border-radius: 4px;
// }
// a.clear-all:hover {
//   transition: border-color .3s ease-in;
//   border-color: #999;
// }
//
// /* SLIDER */
// .ais-range-slider--target {
//   margin: 40px 30px 50px 0;
//   font-size: 13px;
// }
//
// .ais-range-slider--connect {
//   background: $brown;
// }
//
// .ais-range-slider--handle {
//   border-color: $brown;
// }
//
// .ais-body.ais-range-slider--body {
//   left: 10px;
//   position: relative;
// }
//
// /* Star Rating */
// .ais-star-rating--star,
// .ais-star-rating--star__empty {
//   display: inline-block;
//   width: 1em;
//   height: 1em
// }
//
// .ais-star-rating--item__active {
//
// }
//
// .ais-star-rating--star:before {
//   content: '\2605';
//   color: #FBAE00
// }
//
// .ais-star-rating--star__empty:before {
//   content: '\2606';
//   color: #FBAE00
// }
//
// .ais-star-rating--link__disabled .ais-star-rating--star:before,.ais-star-rating--link__disabled .ais-star-rating--star__empty:before {
//   color: #C9C9C9
// }
//
//
// /* Price Ranges */
// .ais-price-ranges--form {
//   margin-top: 8px;
// }
//   .ais-price-ranges--currency {
//     display: inline-block;
//     margin-right: 4px;
//   }
//
//   .ais-price-ranges--input {
//     display: inline-block;
//     width: 50px;
//     border-radius: 2px;
//     border: solid 1px #ccc;
//     font-weight: normal;
//     font-size: 15px;
//   }
//
//   .ais-price-ranges--button {
//     padding: 4px 7px;
//     display: inline-block;
//     margin: 0 0 0 6px;
//   }
//
// /* Toggle */
// .ais-toggle--label {
//   cursor: pointer;
// }
//
// /* RefinementList ShowMore */
// .ais-show-more {
//   font-weight: bold;
//   opacity: .7;
//   padding-left: 4px;
//   position: relative;
//   line-height: 25px;
//   font-size: .9em;
// }
// .ais-show-more:hover,
// .ais-show-more:focus {
//   opacity: 1;
// }
// .ais-show-more:before {
//   font-family: FontAwesome;
//   font-style: inherit;
//   font-weight: inherit;
//   text-decoration: inherit;
//   display: inline-block;
//   position: relative;
//   content: '';
//   margin: 0 5px 0 0;
// }
//
// .ais-show-more__inactive:before {
//   content: "\f0fe";
// }
//
// .ais-show-more__active:before {
//   content: "\f146";
// }
//
// /* Active filters */
// .ais-current-refined-values {
//   position: relative;
// }
//
// /* FOOTER */
// footer {
//   font-size: 14px;
//   margin-top: 200px;
//   margin-bottom: 15px;
//   text-align: center;
// }
// footer a {
//   text-decoration: none;
//   color: $brown;
// }
// footer a:hover {
//   text-decoration: underline;
//   color: $brown;
// }
#sbx-icon-search-13 {
  display: none;
}
